<script type="text/javascript" src="__STATICadmin__/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATICadmin__/js/layer.js"></script>
<script type="text/javascript" src="__STATICadmin__/js/H-ui.min.js"></script>
<script type="text/javascript" src="__STATICadmin__/js/H-ui.admin.js"></script>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATICadmin__/js/jquery.contextmenu.r2.js"></script>
<script type="text/javascript" src="__STATICadmin__/js/common.js"></script>
</body>
</html>