<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>首页</title>
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp"/>

	<!-- Add to homescreen for Chrome on Android
	<meta name="mobile-web-app-capable" content="yes"> -->

	<!-- Add to homescreen for Safari on iOS
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI"/>-->

	<link rel="stylesheet" href="__STATICindex__/assets/css/amazeui.min.css">
	<link rel="stylesheet" href="__STATICindex__/assets/css/app.css">
</head>
<body>
<div class="am-slider am-slider-default">
	<ul class="am-slides">
		<?php foreach($banners as $k =>$v){?>
			<li><img src="__websitImg__<?=$v->pic_path?>" /></li>
		<?php }?>
	</ul>
</div>
<div>
	<ul class="am-avg-sm-4">
		<li>1</li>
		<li>14</li>
		<li>13</li>
		<li>12</li>
		<li>1</li>
		<li>14</li>
		<li>13</li>
		<li>12</li>
	</ul>
</div>


<script src="__STATICindex__/js/jquery-3.2.1.min.js"></script>
<script src="__STATICindex__/assets/js/amazeui.min.js"></script>
<script>
	$('.am-slider').flexslider({
		slideshow: true,
		slideshowSpeed: 3000,
		pauseOnAction: true,			  //用户操作停止轮播
        controlNav: true,               // Boolean: 是否创建控制点
        directionNav: false,			 //是否创建上下页按钮
	});
</script>
</body>
</html>