<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>首页</title>
	<script type="text/javascript" src="__STATICindex__/js/vue.js"></script>
	<link rel="stylesheet" href="__STATICindex__/assets/css/amazeui.min.css">
	<link rel="stylesheet" href="__STATICindex__/assets/css/app.css">
	<script src="../../../../../../Working/智慧农村/public/js/mbjs/common.js"></script>
</head>
<body>
<div id="app">
	<div class="am-slider am-slider-default">
		<ul class="am-slides">
			<li v-for="item in banners"><img :src="url+item.pic_path" /></li>
		</ul>
	</div>
	<div>
		<ul class="am-avg-sm-4">
			<?php foreach($menu as $k =>$v){?>
			<li><img src="__websitImg__<?=$v->pic_name?>" /></li>
			<?php }?>
		</ul>
	</div>
</div>
<script src="__STATICindex__/js/jquery-3.2.1.min.js"></script>
<script src="__STATICindex__/assets/js/amazeui.min.js"></script>
<script>
	var app = new Vue({
		el: '#app',
		data: {
		    'banners' : [],
			'url': '__websitImg__',
			'test': 1
		},
        methods: {
            initAll: function(){
                $.ajax({
                    url: '__websitUrl__/index/banner/getAllBanner',
                    type : 'post',
                    dataType: 'json',
                    success: function(data){
                        app.banners = data;
                    },
                    error: function(data){
                        console.log('error')
                    }
                })
            }
        },
		watch: {
            banners: function(){
                //侦听banners是否渲染完成，完成则加载slider
                this.$nextTick(function(){
                    $('.am-slider').flexslider({
                        slideshow: true,
                        slideshowSpeed: 3000,
                        pauseOnAction: true,			  //用户操作停止轮播
                        controlNav: true,               // Boolean: 是否创建控制点
                        directionNav: false,			 //是否创建上下页按钮
                    });
                })
			}
		},
        mounted: function(){
            setTimeout(function(){app.initAll()});
        }
	})
</script>
</body>
</html>