<div class="foot">
	<a href="javascript:void(0)" class="foot-mb-4" data-src="">
		<img data-imgname="index">
		<div class="foot-mb-4-s">首页</div>
	</a>
	<a href="javascript:void(0)" class="foot-mb-4" data-src="">
		<img data-imgname="class">
		<div class="foot-mb-4-s">分类</div>
	</a>
	<a href="javascript:void(0)" class="foot-mb-center" data-src="">
		<img src="images/issue-icon.png">
	</a>
	<a href="javascript:void(0)" class="foot-mb-4" data-src="">
		<img data-imgname="find">
		<div class="foot-mb-4-s">发现</div>
	</a>
	<a href="javascript:void(0)" class="foot-mb-4" data-src="">
		<img data-imgname="user">
		<div class="foot-mb-4-s">我的</div>
	</a>
</div>
