{include file="public/header"}
<input type="hidden" id="TenantId" name="TenantId" value="" />
<div class="header"></div>
<div class="loginWraper">
  <div id="loginform" class="loginBox">
    <div class="row cl">
      <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
      <div class="formControls col-xs-8">
        <input id="" name="username" type="text" placeholder="账户" class="input-text size-L">
      </div>
    </div>
    <div class="row cl">
      <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
      <div class="formControls col-xs-8">
        <input id="" name="password" type="password" placeholder="密码" class="input-text size-L">
      </div>
    </div>
    <div class="row cl">
      <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
      <div class="formControls col-xs-8">
        <input id="" name="rePassword" type="password" placeholder="密码确认" class="input-text size-L">
      </div>
    </div>
    <div class="row cl">
      <div class="formControls col-xs-8 col-xs-offset-3">
        <input name="" type="submit" onclick="submit()" class="btn btn-success radius size-L" value="&nbsp;注&nbsp;&nbsp;&nbsp;&nbsp;册&nbsp;">
      </div>
    </div>
  </div>
</div>
<div class="footer">公司名称 by zjm</div>
<script>
  function submit(){
      console.log(nameStatus)
      o2o_check('name');
      console.log(nameStatus)
      if(!$('input[name="username"]').val()){
          myselfinfo('用户名不能为空');
      }else if($('input[name="password"]').val()){
          myselfinfo('密码不能为空');
      }else if($('input[name="password"]').val() != $('input[name="rePassword"]').val()){
          myselfinfo('密码必须一致');
      }else{
          var username = $('input[name="username"]').val();
          var password = $('input[name="password"]').val();
          $.ajax({
              url:'__websitUrl__/admin/register/register',
              type:'post',
              data:{username : username,password : password},
              dataType:'json',
              success: function(data){
                  console.log(data)
              }
          })
      }
  }
</script>
{include file="public/footer"}